@import "../../global.scss";

.header__line {
    width: 2px;
    height: 32px;
    box-sizing: border-box;
    border: 1px solid #EAEAEA;
}

.header__line--mobile{
    margin-left: 17px;
}

.header__line--tablet {
    display: none;
}

@media all and (min-width: $screen-tablet) {
    .header__line--mobile {
        display: none;
    }

    .header__line--tablet {
        display: block;
        margin: 0 20px;
    }
}
