.icon__menuIcon {
    background-image: url(../../assets/Icons/menuIcon.svg);
}

.icon__menuIcon--mobile {
    margin-right: 17px;
}

@media all and (min-width: 768px) {
    .icon__menuIcon--tablet {
        margin: 0;
    }
}
