.menu__li {
    list-style-type: none;
    box-sizing: border-box;
    height: 40px;
}


.menu__li--mobile--active,
.menu__li--bigScreen--active {
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.menu__li--bigScreen {
    display: none;
}

@media all and (min-width: 1120px) {
    .menu__li--mobile {
        display: none;
    }

    .menu__li--bigScreen {
        display: block;
    }

    .menu__li--mobile--active {
        background: transparent;
        border: none;
        border-radius: 0;
    }
}
