@import "../../global";

.menuBurger__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 88px;
    padding: 18px 16px;
    box-sizing: border-box;

  @media all and (min-width: $screen-tablet) {
      padding: 24px 24px 12px;
  }

  @media all and (min-width: $screen-bigScrren) {
      padding: 30px 29px 6px 22px;
  }
}
