@import "../global.scss";

.text {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: $text-color;
}

.text--table {
  font-size: 14px;
  line-height: 16px;
  color: $link-menu-color;
}

.text--note {
  font-family: 'TT Lakes';
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: $text-color;
}

.text-colored {
  color: $icon-button-color;
}
