.menuBurger_nav {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.menuBurger__nav--item {
    list-style-type: none;
}

.menuBurger__nav--link {
    text-decoration: none;
    color: #1B1C21;
    display: inline-block;
    height: 32px;
    line-height: 32px;
}

.menuBurger__nav--link--active {
    box-sizing: border-box;
    border-left: 4px solid #41F6D7;
    color: #7E7E82;
}

.menuBurger__nav--link--mobile {
    padding-left: 16px;
}

.menuBurger_nav--mobile {
    gap: 12px;
    margin-top: 8px;
}



@media all and (min-width: 768px) {
    .menuBurger__nav--tablet {
        margin-top: 28px;
        gap: 16px;
    }
    .menuBurger__nav--link--tablet {
        padding-left: 24px;
    }
}

@media all and (min-width: 1120px) {
    .menuBurger__nav--tablet {
        margin-top: 26px;
        gap: 13px;
    }
}

