.menu__ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.menu__ul--mobile {
    overflow-x: scroll;
}

@media all and (min-width: 1120px) {
    .menu__ul--bigScreen {
        overflow: hidden;
        flex-wrap: wrap;
        row-gap: 7px;
    }
}
