:root {
    --swiper-theme-color: #B5B6BC;
}
.swiper {
    height: 210px;
}
.swiper-wrapper {
    height: 72px;
    padding: 16px 0;
    display: flex;
}

.swiper-slide {
    flex-shrink: unset;
    min-width: 240px;
    height: 72px;
    box-sizing: border-box;

    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    margin-left: 16px;
    align-items: center;
}

.swiper-slide:last-child {
    margin-right: 16px;
}

.swiper-button {
    display: none;
}



@media all and (min-width: 768px) {
    .swiper {
        height: auto;
    }
    .swiper-wrapper--tablet {
        padding: 24px 24px 0;
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 16px;
        height: 160px;
        overflow: hidden;
    }

    .swiper-slide {
        margin-left: 0;
        min-width: 224px;
        width: 224px;
    }

    .swiper-slide:last-child {
        margin-right: 0;
    }

    .swiper-button {
        margin: 24px 0 32px 24px;
        display: flex;
        padding: 0;
        gap: 9px;
        background-color: transparent;
    }
    .swiper-wrapper--show {
        height: auto;
    }
}

@media all and (min-width: 1120px) {
    .swiper-slide {
        margin-left: 0;
        min-width: 240px;
    }
    .swiper-wrapper-bigScreen {
        padding: 24px 32px 0;
        column-gap: 32px;
    }
}
