@media all and (min-width: 768px) {
    .content__photo--tablet {
        width: 360px;
        height: 208px;
    }
}

@media all and (min-width: 1120px) {
    .content__photo--bigScreen {
        width: 532px;
        height: 307px;
    }
}
