$screen-mobile: 320px;
$screen-bigMobile: 361px;
$screen-tablet: 768px;
$screen-bigScrren: 1440px;

$page-color: #F8F8F8;
$swiper-color: #B5B6BC;
$white-fone: #FFFFFF;
$border-color: #EAEAEA;
$subtitle-border-color: #D9FFF5;
$icon-button-color: #FF3E79;
$active-line: #41F6D7;
$active-border: #B8FFEC;
$link-menu-color: #7E7E82;
$text-color: #1B1C21;
$modal-fone: rgba(100%, 100%, 100%, 0.96);
