.menuBurger__langs {
    display: flex;
    gap: 7px;
}

.menuBurger__langs--button {
    padding: 0;
    background-color: transparent;
}

.menuBurger__langs--button--active {
    color: #7E7E82;
}
.menuBurger__langs--mobile {
    margin-top: 8px;
    margin-bottom: 32px;
}

@media all and (min-width: 768px) {
    .menuBurger__langs--tablet {
        margin-top: 40px;
    }
}

@media all and (min-width: 1120px) {
    .menuBurger__langs--mobile {
        margin-bottom: 0;
    }
}
