.main__header {
    height: 40px;
    border-left: 4px solid #41F6D7;
}

.main__header--screen-mobile,
.main__header--screen--tablet {
    margin-top: 24px;
}

.main__header--screen-mobile {
    padding-left: 12px;
}

@media all and (min-width: 768px) {
    .main__header--screen--tablet {
        padding-left: 20px;
    }
}

@media all and (min-width: 1120px) {
    .main__header--screen--bigScreen {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 30px;
        padding-right: 32px;
    }
}
