.menuBurger__contacts {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.menuBurger__contacts--mobile {
    padding-left: 16px;
}

@media all and (min-width: 768px) {
    .menuBurger__contacts--tablet {
        padding-left: 24px;
    }
}

@media all and (min-height: 1025px) and (min-width: 1120px) {
    .menuBurger__contacts--bigScreen {
        margin-top: 237px;
    }
}
