.menu {
    display: flex;
}

.menu--mobile {
    margin-top: 24px;
    margin-left: 16px;
}

@media all and (min-width: 768px) {
    .menu--mobile {
        margin: 0;
    }
    .menu--tablet {
        margin-top: 32px;
        margin-left: 24px;
    }
}

@media all and (min-width: 1120px) {
    .menu--tablet {
        margin: 0;
    }
    .menu--bigScreen {
        margin-top: 9px;
        margin-left: 32px;
    }
}
