.content__button {
    display: flex;
    gap: 8px;
    padding: 0;
    background-color: transparent;
}

.content__button--mobile {
    margin-top: 16px;
}

@media all and (min-width: 768px) {
    .content__button--mobile {
        margin: 0;
    }
    .content__button--tablet {
        margin-top: 10px;
    }
}

@media all and (min-width: 1120px) {
    .content__button--bigScreen {
        margin-top: 13px;
    }
}
