.content__button {
    display: flex;
    gap: 8px;
    padding: 0;
    background-color: transparent;
}

.content__button--icon {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../assets/Icons/readMoreIcon.svg);
}

.content__button--mobile {
    margin-top: 16px;
}

@media all and (min-width: 768px) {
    .content__button--mobile {
        margin: 0;
    }
    .content__button--tablet {
        margin-top: 10px;
    }
}

@media all and (min-width: 1120px) {
    .content__button--bigScreen {
        margin-top: 13px;
    }
}
