.settingStatusBlock {
    display: flex;
    gap: 16px;
}

.settingStatusBlock--mobile,
.settingStatusBlock--tablet {
    display: none;
}

@media all and (min-width: 1120px) {
    .settingStatusBlock--bigScreen {
        display: flex;
        gap: 32px;
    }
}
